<template>
	<div id="details" class="details">
		<p>Details!</p>
		<br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br />
		<p>End of Line</p>
		<!--
			<Skills />
			<Caracteristiques />
			-->
	</div>
</template>

<script lang="ts" scoped>
import { defineComponent } from 'vue';

export default defineComponent({
	name: 'DetailsTab'
});
</script>

<style lang="scss"></style>
