<template>
	<div id="map" class="map">
		<p>Map!</p>
	</div>
</template>

<script lang="ts" scoped>
import { defineComponent } from 'vue';

export default defineComponent({
	name: 'MapTab'
});
</script>

<style lang="scss"></style>
