.section {
	height: 45px;
	margin-left: -15px;
	margin-bottom: 20px;
	background-image: url("../assets/design/title_h1.webp");
	background-position: left bottom;
	background-repeat: no-repeat;
    .swf {
        margin-left: 5px;
    }
}

p {
	line-height: 12pt;
	margin-bottom: 10px;
}
p:first-letter {
	font-weight: bold;
	font-size: 115%;
}

.art img {
	background-position : top left;
	background-repeat : no-repeat;
}

div.art {
	float : left;
	position : relative;
	margin-right : 10px;
	margin-bottom : 10px;
	overflow : hidden;
	font-size : 0pt;
	line-height : 0pt;
	border : 1px solid #bc683c;
	outline : 2px solid #f1c98e;
}

.shopDesc {
	margin: auto;
	margin-bottom: 8px;
	width: 520px;
	height: 168px;
	padding: 5px;
	font-style: italic;
	color: #ffee92;
	font-size: 10pt;
	background-image: url("../assets/background/desc_shop.webp");
	background-repeat: no-repeat;
    .contain {
        margin-top: 10px;
        padding: 15px;
    }
    .art {
        width: 160px;
        height: 120px;
        margin-right: 5px;
        border: none;
        outline: none;
    }
    p {
        margin: 0px;
    }
    p:first-letter {
        color: white;
    }
}
.shop {
    .ad {
        margin-top: 80px;
        color: #ffee92;
        font-size: 9pt;
        line-height: 10pt;
        font-style: italic;
        strong {
            color: white;
        }
    }
    .bg {
        margin: auto;
        width: 520px;
        height: 222px;
        background-image: url("../assets/design/shop_bg.webp");
        background-repeat: no-repeat;
        .list {
            position: absolute;
            width: 140px;
            margin-left: 20px;
            margin-top: 19px;
            font-size: 0pt;
            line-height: 0pt;
            a {
                display: block;
                float: left;
                position: relative;
                width: 32px;
                height: 32px;
                border: 1px solid #b37047;
                border-radius: 0px;
                :hover {
                    border-color: white;
                    z-index: 3;
                }
            }
        }
        .full {
            .stock {
            color: yellow;
            font-weight: bold;
            }
            .button {
                opacity: 0.3;
            }
        }
        .details {
            position: absolute;
            width: 294px;
            height: 180px;
            margin-left: 200px;
            margin-top: 20px;
            #shop_guide p {
                padding-left: 40px;
                text-indent: 0px;
                color: #fce3bc;
                background-image: url("../assets/design/shop_arrow.webp");
                background-position: 0px 5px;
                background-repeat: no-repeat;
                :first-letter {
                    color: white;
                }
            }
            .item {
                display: none;
            }
            img.icon {
                float: left;
                position: relative;
                border: 1px solid black;
                margin-right: 5px;
            }
            .name {
                color: #ffee92;
                font-variant: small-caps;
                font-weight: bold;
                line-height: 9pt;
                padding-bottom: 4px;
                border-bottom: 1px solid #ffee92;
            }
            .noValue {
                height: 12px;
            }
            .value {
                color: white;
                font-size: 9pt;
                margin-top: 1px;
                span {
                    money {
                    background-color: transparent;
                    border: 0px;
                    color: #ffee92;
                    }
                }
                img {
                    vertical-align: -5%;
                }
            }
            .objValue {
                margin-top: 4px;
                padding: 3px;
                color: #ffee92;
                font-weight: bold;
                border-top: 1px solid #9a4029;
                border-bottom: 1px solid #9a4029;
                img {
                    vertical-align: -50%;
                }
            }
            .type {
                position: absolute;
                z-index: 2;
                margin-top: 23px;
                margin-left: 230px;
                width: 65px;
                text-align: right;
                font-size: 0pt;
                line-height: 0pt;
                img {
                    margin-left: 5px;
                    cursor: help;
                }
            }
            .desc {
                margin-top: 10px;
                color: #fce3bc;
                font-size: 11pt;
                line-height: 12pt;
                strong {
                    color: white;
                }
            }
            .obj {
                margin-top: 0px;
            }
            .infos {
                position: absolute;
                margin-top: 143px;
                width: 294px;
                padding-top: 2px;
                border-top: 1px solid #ffee92;
            }
            .stock {
                position: absolute;
                width: 50px;
                margin-left: 240px;
                padding-right: 5px;
                text-align: right;
                color: #ffee92;
                font-size: 11pt;
                letter-spacing: -0.5pt;
                background-color: #b46843;
                border: 1px solid #ffee92;
                cursor: pointer;
                strong {
                    color: white;
                    :hover {
                        border-color: white;
                        background-color: #9f562b;
                    }
                }
            }
            label {
                display: block;
                float: right;
                position: relative;
                margin-top: 4px;
                margin-right: 2px;
                padding-top: 3px;
                padding-bottom: 3px;
                padding-right: 5px;
                padding-left: 10px;
                border-radius: 10px;
                font-size: 8pt;
                background-color: #9a4029;
                color: #ffee92;
            }
            input
            {
                .field {
                    float: right;
                    position: relative;
                    margin-top: 4px;
                    margin-right: 4px;
                }
                .button {
                    float: right;
                    position: relative;
                }
            }
        }
    }
    .bg2 {
        background-image: url("../assets/design/shop_bg2.webp");
        height: 304px;
    }
    .rehauss {
        margin-top: -90px;
        margin-left: 10px;
    }
}
